:root {
  --color-1: #3e186d;
  --color-2: #404597;
  --color-3: #4163b4;
  --color-4: #426cbe;
  --color-5: #448ddd;
  --color-6: #37a5e7;
  --hover-color: #08fef9;
  --hover-color-2: #26e0f7;
  --white-color: #fff3ff;
  --black-color-opacity: #00000050;
  --my-gray-color: #ddd;
  --white-light-opacity: #ffffff30;
  --white-medium-opacity: #ffffff60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-image: url("../dist/images/bg3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container nav img#logo {
  width: 180px;
}

.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*  */
  margin-top: -50px;
}

.container nav a {
  color: white;
}

.container nav .links {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

/* .container nav img {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
} */

.container nav .links a.sp,
.container nav .links a.nrml {
  color: black;
  padding: 8px 20px;
  border-radius: 20px;
  /* font-size: 14px; */
  transition: 0.2s linear;
}

.container nav .links a.nrml:hover {
  background-color: var(--color-4);
  color: #fff;
}

.container nav .links a.sp {
  background-color: var(--color-6);
  color: #fff;
}

.container nav .links a.sp i {
  padding-right: 5px;
  transition: 0.2s linear;
}

.container nav .links a.sp:hover {
  background-color: var(--color-4);
  color: #fff;
}

.container nav .links a.sp:hover i {
  color: #fff;
}

/*  */

.second {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* desc */

.second .desc {
  /* background-color: #ddd; */
  margin-left: 24px;
}

.second .desc h1 {
  font-size: 70px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
}

.second .desc p {
  max-width: 400px;
  margin-left: 4px;
  font-size: 15px;
  margin-bottom: 20px;
}

.second .desc button {
  margin-left: 4px;
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--hover-color-2);
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s linear;
}

.second .desc button:hover {
  background-color: var(--color-4);
  color: #fff;
}

.second .desc button i {
  padding-right: 5px;
}

.second .desc button i:hover {
  color: #fff;
}

/* img */

.second img {
  width: 500px;
  height: 400px;
}

@keyframes up-down {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15px);
  }
}

.second img {
  animation: up-down 1.3s ease-in-out infinite;
}

/* hover on button */

.second .desc button {
  position: relative;
  overflow: hidden;
  height: 2.5rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--color-6);
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

nav .links a:not(.nrml) {
  position: relative;
  overflow: hidden;
  height: 2.2rem;
  padding: 0 1.5rem;
  background: #37a5e7;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
}

.second .desc button:hover::before,
nav .links a:hover::before {
  transform: scaleX(1);
}

.second .desc button .button-content,
nav .links a span {
  position: relative;
  z-index: 1;
}

.second .desc button::before,
nav .links a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  /* background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  ); */
  background: linear-gradient(
    82.3deg,
    rgba(245, 245, 245, 0.537) 0.8%,
    #224390 94.3%
  );
  transition: all 0.475s;
}
